<!-- Portail d'inscription et de connexion -->
<section>
	<div class="container">
		<h3 *ngIf="newUser">M'inscrire</h3>
		<h3 *ngIf="!newUser">Me connecter</h3>
		<div *ngIf="newUser">
			<small id="signUpHelpBlock" class="form-text text-muted">
				Déjà membre? <a routerLink="../authentification">Se connecter ici.</a>
			</small>
		</div>
		<div *ngIf="!newUser">
			<small id="signUpHelpBlock" class="form-text text-muted">
				Nouveau sur le site? <a routerLink="../inscription">Inscrivez-vous ici.</a>
			</small>
			<!--popup de mot passe oulié-->
			<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content text-center">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<div class="text-center">
								<h3><i class="fa fa-lock fa-2x"></i></h3>
								<h3 class="text-center">Mot de passe oublié?</h3>
								<p>Vous pouvez redéfinir votre mot de passe ici.</p>
								<div class="panel-body">
									<form class="form">
										<fieldset>
										<div class="form-group">
											<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input id="emailInput" placeholder="Adresse email" class="form-control" oninvalid="" onchange="" required="" type="email">
											</div>
										</div>
										<div class="form-group">
											<input class="btn btn-success btn-block" value="M'envoyer un nouveau mot de passe" type="submit">
										</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<app-form-inscription *ngIf="newUser"></app-form-inscription>
		<app-form-authentification *ngIf="!newUser"></app-form-authentification>
		<small *ngIf="!newUser" id="signInHelpBlock" class="form-text text-muted">
			Mot de passe oublié? <a href="#" data-target="#pwdModal" data-toggle="modal">Clickez ici.</a>
		</small>
	</div>	
</section>