<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container">
		<a routerLink="" class="navbar-brand">Réseau NDA</a>
		<div class="d-flex ml-auto">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	</div>
	<div class="collapse navbar-collapse" id="globalNavbar">
		<form class="form-inline form-navbar my-2 my-lg-0 order-2" action="#">
			<input class="form-control" name="s" placeholder="Rechercher" type="text">
		</form>
		<ul class="navbar-nav mr-auto order-1">
			<li class="nav-item">
				<a class="nav-link" href="#">Posts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Communauté</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Administration</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">À propos</a>
			</li>
		</ul>
		<ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
			<li class="nav-item"><a class="nav-link" routerLink="authentification">Se connecter</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="inscription">S'inscrire</a></li>
		</ul>
		<ul class="navbar-nav d-lg-none">
			<li class="nav-item-divider"></li>
			<li class="nav-item"><a class="nav-link" routerLink="authentification" routerLinkActive="active">Se connecter</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="inscription" routerLinkActive="active">S'inscrire</a></li>
		</ul>
		</div>
	</div>
</nav>