<!-- Footer -->
<footer class="footer sticky-bottom">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          		<ul class="list-inline mb-2">
            		<li class="list-inline-item">
              			<a routerLink="/apropos">À propos</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a routerLink="/contacts">Contacts</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a routerLink="/mentions-legales">Mentions légales</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
            		<li class="list-inline-item">
              			<a href="https://www.nda59.fr/">Site de l'institution</a>
            		</li>
          		</ul>
          		<p class="text-muted small mb-4 mb-lg-0">&copy; Réseau Notre-Dame-des-Anges {{ year }}. Tous droits réservés.</p>
        	</div>
        	<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
				<ul class="list-inline mb-0">
					<li class="list-inline-item mr-3">
						<a href="https://www.facebook.com/anciensNDA59/">
							<i class="fa fa-facebook fa-2x fa-fw"></i>
						</a>
					</li>
				</ul>
			</div>
      	</div>
    </div>
</footer>