<div class="container">
	<!--Head-->
	<div class="media">
		<img class="" src="/assets/user.png" alt="">
		<div class="media-body ml-3">
			<h1 class="mb-0">Romain Dupont</h1>
			<p class="lead">Professeur de Physique-Chimie</p>
		</div>
	</div>
	<hr>
	<!--Body-->
	<p>Description de Romain Dupont. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
	<div class="row">
		<!--colonne droite-->
		<div class="col-md-4 order-md-2 mb-4">
			<app-user-sidebar></app-user-sidebar>
		</div>
		<!--colonne gauche-->
		<div class="col-md-8 order-md-1">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Infos générales</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Activité récente</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Paramètres</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<span>&nbsp;</span>
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<!--First item content-->
					<form>
						<app-form-inscription></app-form-inscription>
						<div class="form-group">
							<button class="btn btn-primary" type="submit" disabled="">Enregistrer les modifications</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<!--Second item content-->
					<app-post-list></app-post-list>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<!--Third item content-->
					<form class="needs-validation" novalidate="">
						<h4 class="mb-3">Notifications</h4>
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" id="notify-on-comment" type="checkbox">
							<label class="custom-control-label" for="notify-on-comment">M'envoyer un mail lorsque l'on ajoute un commentaire à l'un de mes posts.</label>
						</div>
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" id="notify-on-msg" type="checkbox" checked>
							<label class="custom-control-label" for="notify-on-msg">M'envoyer un mail lorsque je reçois un message privé.</label>
						</div>
						<hr>
						<h4 class="mb-3">Confidentialités</h4>
						<div class="d-block my-3">
							<div class="custom-control custom-radio">
								<input id="display-promotion-date" name="paymentMethod" class="custom-control-input" checked="" required="" type="radio">
								<label class="custom-control-label" for="display-promotion-date">Afficher mon année de promotion</label>
							</div>
							<div class="custom-control custom-radio">
								<input id="hide-promotion-date" name="paymentMethod" class="custom-control-input" required="" type="radio">
								<label class="custom-control-label" for="hide-promotion-date">Ne pas afficher</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>