<section>
	<!-- Formulaire de connexion -->
	<div class="container">
		<form>
			<h3>Se connecter</h3>
			<hr>
			<div class="form-group col-md-6">
				<label for="inputEmail">Adresse email</label>
				<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Adresse email">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
			</div>
			<hr>
			<button type="submit" class="btn btn-primary">Se connecter</button>
			<small id="signUpHelpBlock" class="form-text text-muted">
				Nouveau sur le site? <a routerLink="../inscription">Inscrivez-vous ici.</a>
			</small>
			<small id="signInHelpBlock" class="form-text text-muted">
				Mot de passe oublié? <a routerLink="">Clickez ici.</a>
			</small>
		</form>
	</div>
</section>