<form (submit)="onRegisterSubmit()" [formGroup]="myform" class="col-md-6">
	<!-- Custom Success/Error Message -->
	<div class="form-group show-hide-message">
		<p [ngClass]="messageClass">{{ message }}</p>
	</div>
	<div class="form-group">
		<div class="custom-control custom-radio">
			<input id="male-input" name="gender" class="custom-control-input" type="radio" formControlName="gender" value="male" required>
			<label class="custom-control-label" for="male-input">M.</label>
		</div>
		<div class="custom-control custom-radio">
			<input id="female-input" name="gender" class="custom-control-input" type="radio" formControlName="gender" value="female" required>
			<label class="custom-control-label" for="female-input">Mme.</label>
		</div>
	</div>
	<div class="form-group">
		<label for="firstName">Prénom</label>
		<input [ngClass]="{
		'is-invalid': myform.controls.firstName.invalid && (myform.controls.firstName.dirty || myform.controls.firstName.touched),
		'is-valid': myform.controls.firstName.valid && (myform.controls.firstName.dirty || myform.controls.firstName.touched)}" name="firstName" placeholder="Prénom" type="text"
		class="form-control"
		formControlName="firstName"
		required>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.firstName.errors && (myform.controls.firstName.dirty || myform.controls.firstName.touched)">
			<p *ngIf="myform.controls.firstName.errors.required">Le champs Prénom est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="lastName">Nom de naissance</label>
		<input [ngClass]="{
		'is-invalid': myform.controls.lastName.invalid && (myform.controls.lastName.dirty || myform.controls.lastName.touched),
		'is-valid': myform.controls.lastName.valid && (myform.controls.lastName.dirty || myform.controls.lastName.touched)}" name="lastName" placeholder="Nom" type="text"
		class="form-control" id="inputLastName"
		formControlName="lastName"
		required>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.lastName.errors && (myform.controls.lastName.dirty || myform.controls.lastName.touched)">
			<p *ngIf="myform.controls.lastName.errors.required">Le champs Nom est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputState">Département</label>
		<!--TODO:Remplir le bouton des villes en fonction de la région sélectionnée-->
		<select #select formControlName="province" name="inputState" class="form-control" [ngClass]="{
			'is-invalid': myform.controls.province.invalid && (myform.controls.province.dirty || myform.controls.province.touched),
			'is-valid': myform.controls.province.valid && (myform.controls.province.dirty || myform.controls.province.touched)}">
			<option value="">Selectionner un département</option>
			<option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
		</select>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.province.errors && (myform.controls.province.dirty || myform.controls.province.touched)">
			<p *ngIf="myform.controls.province.errors.required">Le champs département est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputCity">Ville</label>
		<select #select formControlName="town" name="inputCity" class="form-control" [ngClass]="{
			'is-invalid': myform.controls.town.invalid && (myform.controls.town.dirty || myform.controls.town.touched),
			'is-valid': myform.controls.town.valid && (myform.controls.town.dirty || myform.controls.town.touched)}">
			<option value="">Selectionner une ville</option>
			<option *ngFor="let town of towns" [value]="town.name">{{ town.name }}</option>
		</select>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.town.errors && (myform.controls.town.dirty || myform.controls.town.touched)">
			<p *ngIf="myform.controls.town.errors.required">Le champs ville est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputBirthDate">Date de naissance</label>
		<input type="date" formControlName="birthDate" class="form-control" name="inputBirthDate" placeholder="jj/mm/aaaa" [ngClass]="{
			'is-invalid': myform.controls.birthDate.invalid && (myform.controls.birthDate.dirty || myform.controls.birthDate.touched),
			'is-valid': myform.controls.birthDate.valid && (myform.controls.birthDate.dirty || myform.controls.birthDate.touched)}">
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.birthDate.errors && (myform.controls.birthDate.dirty || myform.controls.birthDate.touched)">
			<p *ngIf="myform.controls.birthDate.errors.required">Le champs Date de naissance est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="promotionSelect">Promotion</label>
		<select #select formControlName="promotion" class="form-control" name="promotionSelect" [ngClass]="{
			'is-invalid': myform.controls.promotion.invalid && (myform.controls.promotion.dirty || myform.controls.promotion.touched),
			'is-valid': myform.controls.promotion.valid && (myform.controls.promotion.dirty || myform.controls.promotion.touched)}">
			<option value="">Selectionner une année de promotion</option>
			<option value="Aucune">Aucune</option>
			<option *ngFor="let promotion of promotions" [value]="promotion.name">{{ promotion.name }}</option>
		</select>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.promotion.errors && (myform.controls.promotion.dirty || myform.controls.promotion.touched)">
			<p *ngIf="myform.controls.promotion.errors.required">Le champs Promotion est requis</p>
		</div>
	</div>
	<div class="form-group">
		<label for="emailAddress">Adresse email</label>
		<input [ngClass]="{
			'is-invalid': myform.controls.email.invalid && (myform.controls.email.dirty || myform.controls.email.touched),
			'is-valid': myform.controls.email.valid && (myform.controls.email.dirty || myform.controls.email.touched)}" name="emailAddress" placeholder="email" type="email"
			class="form-control"
			formControlName="email"
			required>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.email.errors && (myform.controls.email.dirty || myform.controls.email.touched)">
			<p *ngIf="myform.controls.email.errors.required">Le champ Adresse email est requis</p>
			<p *ngIf="myform.controls.email.errors.pattern">L'adresse email n'est pas conforme</p>
		</div>
	</div>
	<!-- Password Input -->
	<div class="form-group">
		<label for="password">Mot de passe</label>
		<input [ngClass]="{
			'is-invalid': myform.controls.password.invalid && (myform.controls.password.dirty || myform.controls.password.touched),
			'is-valid': myform.controls.password.valid && (myform.controls.password.dirty || myform.controls.password.touched)}" name="password" placeholder="Mot de passe" type="password"
			class="form-control"
			formControlName="password"
			required>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.password.errors && (myform.controls.password.dirty || myform.controls.password.touched)">
			<p *ngIf="myform.controls.password.errors.required">Le champs Mot de passe est requis</p>
			<p *ngIf="myform.controls.password.errors.minlength">Le mot de passe doit contenir au moins 1 majuscule, 1 minuscule, 1 chiffre, et doit avoir au moins 8 caractères, il en manque {{myform.controls.password.errors.minlength.requiredLength - myform.controls.password.errors.minlength.actualLength}}.</p>
		</div>
	</div>
	<!-- Confirm Password Input -->
	<div class="form-group">
		<label for="confirm">Confirmer le mot de passe</label>
		<input [ngClass]="{
			'is-invalid': myform.controls.confirm.invalid && (myform.controls.confirm.dirty || myform.controls.confirm.touched)|| (myform.errors?.matchingPasswords && myform.controls.confirm.dirty),
			'is-valid': myform.controls.confirm.valid && (myform.controls.confirm.dirty || myform.controls.confirm.touched) && !myform.errors?.matchingPasswords}" name="confirm" placeholder="Confirmer le mot de passe" type="password" autocomplete="off"
			class="form-control"
			formControlName="confirm"
			required>
		<div class="form-control-feedback invalid-feedback" *ngIf="myform.controls.confirm.errors && (myform.controls.confirm.dirty || myform.controls.confirm.touched) || myform.errors?.matchingPasswords">
			<p>Les deux mots de passe ne correspondent pas</p>
		</div>
	</div>
	<div class="form-group custom-control custom-checkbox mb-3">
		<input [ngClass]="{
			'is-invalid': myform.controls.checkTherms.invalid && (myform.controls.checkTherms.dirty || myform.controls.checkTherms.touched),
			'is-valid': myform.controls.checkTherms.valid && (myform.controls.checkTherms.dirty || myform.controls.checkTherms.touched)}" name="checkTherms" type="checkbox" class="custom-control-input"
			id="checkTherms"
			formControlName="checkTherms"
			required>
		<label class="custom-control-label" for="checkTherms">J'accepte les <a routerLink="/mentions-legales">conditions d'utilisation</a></label>
		<div class="invalid-feedback">Vous devez approuver les conditions d'utilisation du site pour continuer</div>
	</div>
	<br>
	<button [disabled]="!myform.valid" type="submit" class="btn btn-primary">Valider</button>
  	<pre>{{myform.value | json}}</pre>
</form>