<section>
	<div class="container text-center">
		<i class="fa fa-lock fa-4x text-success"></i>
		<h2>Données personnelles</h2>
		<br><hr class="my-4">
		<h5>L'association des anciens de Notre-Dame-des-Anges s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site www.reseau-nda59.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</h5>
	</div>
	<br>
	<div class="container">
		<p>Chaque formulaire ou téléservice limite la collecte des données personnelles au strict nécessaire (minimisation des données) et indique notamment :</p>
		<ul>
			<li>quels sont les objectifs du recueil de ces données (finalités) ;</li>
			<li>si ces données sont obligatoires ou facultatives pour la gestion de votre demande ;</li>
			<li>qui pourra en prendre connaissance (uniquement les modérateurs par défaut) ;</li>
			<li><a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">vos droits Informatique et Libertés</a> et la façon de les exercer auprès de l'association'.</li>
		</ul>	
		<p>Les données personnelles recueillies dans le cadre des services proposés sur www.reseau-nda59.fr sont traitées selon des protocoles sécurisés et permettent à l'association de gérer ses membres et posts reçues dans ses applications informatiques.
			Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par l'association, vous pouvez contacter l'association via <a routerLink="/contacts">cette page</a>.
		</p>
	</div>
</section>