<section>
	<div class="container">
		<!-- Custom Success/Error Message -->
		<div class="row show-hide-message" *ngIf="message">
			<p [ngClass]="messageClass">Message: {{ message }}</p>
	  	</div>
		<!--Head-->
		<div class="media">
			<img class="profil-pic" src="{{ user.profilPicture }}" alt="">
			<div class="media-body ml-3">
				<h1 class="mb-0">{{ user.firstName }} {{ user.lastName }}</h1>
				<span class="lead badge" [ngClass]="{'badge-warning': user.grade=='Moderateur', 'badge-danger': user.grade=='Administrateur', 'badge-success': user.grade=='Membre'}" title="{{ user.grade }}">{{ user.grade }}</span>
				<p class="lead">{{ user.town }}, {{ user.province }}</p>
			</div>
		</div>
		<hr>
		<!--Body-->
		<p>{{ user.description }}</p>
		<div class="row">
			<!--colonne droite-->
			<div class="col-md-4 order-md-2 mb-4">
				<aside class="sidebar sidebar-sticky">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="">Groupes</span>
						<span class="badge badge-secondary badge-pill">1</span>
					</h4>
					<a routerLink="/pageIntrouvee" class="list-group-item list-group-item-action">
						<h6 class="my-0">{{ user.group }}</h6>
					</a>  
				</aside>
			</div>
			<!--colonne gauche-->
			<div class="col-md-8 order-md-1">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Infos générales</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activité récente</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters" aria-selected="false">Paramètres</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<span>&nbsp;</span>
					<div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
						<!--First item content-->
						<pre>{{user | json}}</pre>
					</div>
					<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
						<!--Second item content-->
						<app-list-post></app-list-post>
					</div>
					<div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
						<!--Third item content-->
						<app-form-parameters></app-form-parameters>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>