<section>
	<!--Header-->
	<header class="py-5 bg-image-full" style="background-image: url('../../../assets/photo_entry.jpg');">
		<div class="py-5 container text-center title">
			<img class="img-fluid d-block mx-auto" src="../../../assets/logo.png" alt="">
			<h1>Bienvenue chez les anciens de NDA</h1>
			<p class="lead">Le blog officiel de l'institution développé pour garder le contact.</p>
		</div>
	</header>

	<!--Introduction-->
	<div class="py-5">
		<div class="container text-center">
			<h2>Vous êtes ancien élève, professeur, ou ami ?</h2>
			<p>Le Réseau NDA est une association d'anciens membres de l'Institution Notre-Dame-des-Anges de Saint Amand les Eaux.<p>
		</div>
	</div>
</section>