<!--A poursuivre-->
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Location</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td><a routerLink="/utilisateurs/romain">Romain</a></td>
				<td>Dupont</td>
				<td>Paris, France</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Victor</td>
				<td>Durand</td>
				<td>Lille, France</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Manon</td>
				<td>Dumont</td>
				<td>Bordeaux, France</td>
			</tr>
		</tbody>
	</table>
</div>