<form novalidate [formGroup]="myform">
	<div class="form-group col-md-6">
		<label for="inputEmail">Adresse email</label>
		<input type="email" class="form-control" formControlName="email" [ngClass]="{
			'is-invalid': email.invalid && (email.dirty || email.touched),
			'is-valid': email.valid && (email.dirty || email.touched)}" id="inputEmail" placeholder="Adresse email" required>
		<div class="form-control-feedback invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
			<p *ngIf="email.errors.required">Le champ Adresse email est requis</p>
			<p *ngIf="password.errors.pattern">L'adresse email n'est pas conforme</p>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label for="inputPassword">Mot de passe</label>
		<input [ngClass]="{
			'is-invalid': password.invalid && (password.dirty || password.touched),
			'is-valid': password.valid && (password.dirty || password.touched)}" id="inputPassword" placeholder="mot de passe" type="password"
			class="form-control"
			formControlName="password"
			required>
		<div class="form-control-feedback invalid-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
			<p *ngIf="password.errors.required">Le champs Mode de passe est requis</p>
			<p *ngIf="password.errors.minlength">Le mot de passe doit contenir au moins 1 majuscule, 1 minuscule, 1 chiffre, et doit avoir au moins 8 caractères, il en manque {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}}.</p>
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Valider</button>
</form>