<div class="card text-center">
    <div class="card-body text-success">
		<div class="row">
			<div class="col">
				<i class="fa fa-users"></i>
				<span>165 Membres</span>
			</div>
			<div class="col">
				<i class="fa fa-clipboard"></i>
				<span>41 Posts vérifiés</span>
			</div>
			<div class="col">
				<i class="fa fa-comments"></i>
				<span>92 Commentaires</span>
			</div>
			<div class="col">
				<i class="fa fa-thumbs-up"></i>
				<span>107 J'aimes</span>
			</div>
		</div>
    </div>
</div>
<div class="card">
    <div class="card-body text-success">
		<canvas id="barChart" class="chartjs-render-monitor" style="display: block;"></canvas>
		<canvas id="doughnutChart" class="chartjs-render-monitor" style="display: block;"></canvas>
    </div>
</div>