<section>
	<div class="container text-center">
		<i class="fa fa-lock fa-4x text-success"></i>
		<h2>Mentions légales</h2>
		<br><hr class="my-4">
		<h5>L'association des anciens de Notre-Dame-des-Anges s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site www.reseau-nda59.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</h5>
	</div>
	<br>
	<div class="container">
		<details open="">
			<summary class="font-weight-bold">Données personnelles</summary>
			<p>Chaque formulaire ou téléservice limite la collecte des données personnelles au strict nécessaire (minimisation des données) et indique notamment :</p>
				<ul>
					<li>quels sont les objectifs du recueil de ces données (finalités) ;</li>
					<li>si ces données sont obligatoires ou facultatives pour la gestion de votre demande ;</li>
					<li>qui pourra en prendre connaissance (uniquement les modérateurs par défaut) ;</li>
					<li><a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">vos droits Informatique et Libertés</a> et la façon de les exercer auprès de l'association'.</li>
				</ul>	
				<p>Les données personnelles recueillies dans le cadre des services proposés sur www.reseau-nda59.fr sont traitées selon des protocoles sécurisés et permettent à l'association de gérer ses membres et posts reçues dans ses applications informatiques.
					Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par l'association, vous pouvez contacter l'association via <a routerLink="/contacts">cette page</a>.
				</p>
		</details>
		<details open="">
			<summary class="font-weight-bold">Déclarations</summary>
			<p>ASSOCIATION DES ANCIENS DE NOTRE DAME DES ANGES.</p>
			<p>Objet : maintien et développement de liens entre les anciens élèves et amis de l'institution ; soutien à
				l'institution des anciens élèves et amis et la participation active des anciens élèves à la Communauté
				éducative à l'institution ; soutien à des projets caritatifs et humanitaires, en particulier initiés par les anciens
				élèves de l'institution ou l'institution elle-même ; représentation des anciens élèves et amis de l'institution,
				en tant que de besoin, auprès de toute personne physique ou morale, organisme et administration ;
				développement de liens avec les autres associations d'anciens élèves ; soutien à l'Enseignement
				catholique et à la défense de sa mission.</p>
				<p>Siège social : 4, rue du Bruille, 59230 Saint-Amand-les-Eaux.<br>
				Date de la déclaration : 15 février 2016.</p>
		</details>
	</div>
</section>