<section>
	<div class="container">
		<h2>Ce qu'il se dit en ce moment</h2>
		<p>Vous pouvez retrouver ici les derniers posts rédigés par les membres du réseau. Vous pouvez utiliser les tags sur le panneau droit pour filtrer le contenu par rubriques.</p>
	</div>
	<div class="container">
		<div class="row">
			<!--contenu-->
			<div class="col-md-9">
				<app-list-post></app-list-post>
			</div>
			<!--sidebar-->
			<div class="col-md-3 ml-auto">
				<app-post-sidebar></app-post-sidebar>
			</div>
		</div>
	</div>
</section>