<aside class="sidebar sidebar-sticky">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      	<span class="">Groupes</span>
      	<span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <a routerLink="/pageIntrouvee" class="list-group-item list-group-item-action">
        <h6 class="my-0">Promotion-2013</h6>
		<small class="text-muted">Les anciens de 2013!</small>
		<span class="text-muted">12 membres</span>
	</a>
	<a routerLink="/pageIntrouvee" class="list-group-item list-group-item-action">
        <h6 class="my-0">Les fans de sport</h6>
		<small class="text-muted">1, 2, 3... partez!</small>
		<span class="text-muted">58 membres</span>
	</a>
	<a routerLink="/pageIntrouvee" class="list-group-item list-group-item-action">
        <h6 class="my-0">La physique chimie</h6>
		<small class="text-muted">Plus qu'une matière, un art de vivre</small>
		<span class="text-muted">26 membres</span>
	</a>   
</aside>