<div class="form-row col-md-6">
	<div class="form-group">
		<label for="inputLastName">Nom</label>
		<input type="text" class="form-control" id="inputLastName" placeholder="Nom" [(ngModel)]="user.name">
	</div>
	<div class="form-group">
		<label for="inputFirstName">Prénom</label>
		<input type="text" class="form-control" id="inputFirstName" placeholder="Prénom" [(ngModel)]="user.surname">
	</div>
</div>
<div class="form-row col-md-6">
	<div class="form-group">
		<label for="inputState">Département</label>
		<!--TODO:Remplir le bouton des villes en fonction de la région sélectionnée-->
		<select #select [(ngModel)]="user.location.province" id="inputState" class="form-control">
			<option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="inputCity">Ville</label>
		<select #select [(ngModel)]="user.location.town" id="inputCity" class="form-control">
			<option *ngFor="let town of towns" [value]="town.name">{{town.name}}</option>
		</select>
	</div>
</div>
<div class="form-group col-md-6">
	<label for="inputBirthdate">Date de naissance</label>
	<input type="date" [ngModel]="user.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="user.birthDate=$event" class="form-control" id="inputBirthdate" placeholder="jj/mm/aaaa">
</div>
<div class="form-group col-md-6">
	<label for="promotionSelect">Promotion</label>
	<!--TODO:Remplir dynamiquement les dates de promotion-->
	<select #select [(ngModel)]="user.promotion" class="form-control" id="promotionSelect">
		<option *ngFor="let promotion of promotions" [value]="promotion.name">{{promotion.name}}</option>
	</select>
</div>
<div class="form-group col-md-6">
	<label for="emailInput">Adresse email</label>
	<input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Adresse email" [(ngModel)]="user.email">
</div>
<div class="form-group col-md-6">
	<label for="passwordInput">Mot de passe</label>
	<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe" [(ngModel)]="user.password">
	<small id="passwordHelpBlock" class="form-text text-muted">
		Votre mot de passe doit avoir au moins 8 caractères, et contenir au moins 1 chiffre et 1 majuscule.
	</small>
</div>