<div class="container">
	<h2>Ce qu'il se dit en ce moment</h2>
	<p>Vous pouvez retrouver ici les derniers posts rédigés par les membres du réseau. Vous pouvez utiliser les tags sur le panneau droit pour filtrer le contenu par mots clés.</p>
	<h6><span *ngFor="let tag of tags">#{{ tag }}</span></h6>
</div>
<div class="container">
	<div class="row">
		<!--contenu-->
		<div class="col-md-9">
			<article class="card mb-4" *ngFor="let post of pagedPosts">
				<header class="card-header">
					<div class="card-meta">
						<a routerLink="../utilisateurs/{{ post.author }}">{{ post.author }}</a>, <span>le {{ post.date }}</span> dans <a routerLink="./{{ post.tag }}">#{{ post.tag }}</a>
					</div>
					<a routerLink="./{{ post.id }}">
						<h4 class="card-title">{{ post.title }}</h4>
						<img class="img-fluid d-block mx-auto" src="{{ post.coverPictureLink }}" alt="">
					</a>
				</header>
				<div class="card-body">
					<p class="card-text">{{ post.content | slice:0:200 }}{{ post.content.length > 20 ? '[...]' : ''}}</p>
				</div>
			</article>
		</div>
		<!--sidebar-->
		<div class="col-md-3 ml-auto">
			<app-post-sidebar></app-post-sidebar>
		</div>
	</div>
	<!--pagination-->
	<nav aria-label="...">
		<ul *ngIf="pagination.pages && pagination.pages.length" class="pagination">
			<li [ngClass]="{disabled:pagination.currentPage === 1}" class="page-item">
				<a class="page-link" (click)="setPage(1)">First</a>
			</li>
			<li [ngClass]="{disabled:pagination.currentPage === 1}" class="page-item">
				<a class="page-link" (click)="setPage(pagination.currentPage - 1)">Previous</a>
			</li>
			<li *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}" class="page-item">
				<a class="page-link" (click)="setPage(page)">{{page}}</a>
			</li>
			<li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}" class="page-item">
				<a class="page-link" (click)="setPage(pagination.currentPage + 1)">Next</a>
			</li>
			<li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}" class="page-item">
				<a class="page-link" (click)="setPage(pagination.totalPages)">Last</a>
			</li>
		</ul>
	</nav>
</div>