<form class="needs-validation" novalidate="">
    <h4 class="mb-3">Notifications</h4>
    <div class="custom-control custom-checkbox">
		<input class="custom-control-input" id="notify-on-comment" type="checkbox">
		<label class="custom-control-label" for="notify-on-comment">M'envoyer un mail lorsque l'on ajoute un commentaire à l'un de mes posts.</label>
    </div>
    <div class="custom-control custom-checkbox">
		<input class="custom-control-input" id="notify-on-msg" type="checkbox" checked>
		<label class="custom-control-label" for="notify-on-msg">M'envoyer un mail lorsque je reçois un message privé.</label>
    </div>
    <hr>
    <h4 class="mb-3">Confidentialités</h4>
    <div class="d-block my-3">
		<div class="custom-control custom-radio">
			<input id="display-promotion-date" name="paymentMethod" class="custom-control-input" checked="" required="" type="radio">
			<label class="custom-control-label" for="display-promotion-date">Afficher mon année de promotion</label>
		</div>
		<div class="custom-control custom-radio">
			<input id="hide-promotion-date" name="paymentMethod" class="custom-control-input" required="" type="radio">
			<label class="custom-control-label" for="hide-promotion-date">Ne pas afficher</label>
		</div>
    </div>
</form>